<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
	<!-- Frameworks CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/00b6dc780b.js" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

	<title>Elkanah Malonza | My Projects</title>
</head>
<body>
    <!-- Naviigation Section -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light border-bottom">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link fs-5" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="{% url 'index' %}#section-about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="{% url 'index' %}#section-skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="{% url 'index' %}#section-experiences">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 active" href="{% url 'projects' %}">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="{% url 'index' %}#section-pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="{% url 'index' %}#section-contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="pt-5"></div>
    <!-- /Naviigation Section Ends  -->

    <!-- Content Section -->
    <main class="container-fluid main-blog pt-md-5">

        <!-- Blo-Post Section Start -->
        <div class="row g-5 pt-3">
            <!-- Article-Post Section Start -->
            <div class="col-md-8">
                <div class="row text-center p-4">
                    <h3>{{page_name}}</h3>
                </div>
                <div class="row pb-2 d-flex justify-content-between">
                    <h5 class="col ms-2">Projects: <span class="reviews-count text-muted">Page {{projects.number}} of {{projects.paginator.num_pages}}.</span></h5>
                </div>
                <!---div class="row pb-2 d-flex justify-content-between">
                    <h5 class="col ms-2">Projects <span class="reviews-count text-muted">{{page_name}}</span></h5>
                    <div class="col d-flex align-items-center">
                        <label>Filter by: </label>
                        <a href="#" class="btn btn-outline-dark ms-2">Rating <i class="fas fa-plus-circle"></i></a>
                        <a href="#" class="btn btn-outline-dark">English <i class="fas fa-chevron-circle-right"></i></a>
                    </div>
                </div-->
                <div class="row">
                {% for project in projects %}
                    <div class="col-12 tech-all {% for keyword in project.keywords.all %} tech-{{keyword.technology|cut:' '}} {% endfor %}">
                        <div class="card shadow bg-body rounded mb-3">
                            <div class="row g-0">
                                <div class="col-md-4 align-items-center">
                                    <img src="{{project.image}}" class="bd-placeholder-img border rounded" width="100%" height="200" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{project.name}}</h5>
                                        <p class="card-text text-success">
                                        {% for keyword in project.highlight_keywords %}
                                            {{keyword.technology}},
                                        {% endfor %}
                                        </p>
                                        <p class="mb-auto">{{project.description|truncatechars_html:130|safe}}</p>
                                        <div class="row justify-content-between">
                                            <div class="col"><small class="text-muted">{{project.date}}</small></div>
                                            <div class="col text-end"><a href="{% url 'project' project.name|slugify project.id %}" class="btn btn-primary">Details</a></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="row pt-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                        {% if projects.has_previous %}
                            <li class="page-item">
                                <a href="?page={{projects.previous_page_number}}" class="page-link">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                        {% endif %}

                        {% for p in projects.paginator.page_range %}
                            <li class="page-item {% if projects.number == p %}active{% endif %}">
                                <a class="page-link" href="?page={{p}}">{{p}}</a>
                            </li>
                        {% endfor %}

                        {% if projects.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{projects.next_page_number}}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        {% endif %}
                        </ul>
                    </nav>
                </div>


            </div>
            <!-- /Article-Post Section Ends -->

            <!-- Writer-Info Section Start -->
            <div class="col-md-4">
                <div class="position-sticky border shadow" style="top: 4rem;">
                    <div class="p-4 mb-3 bg-light rounded border-bottom">

                        <div class="row">
                            <div class="col-8">
                                <h5>Search Project</h5>
                            </div>
                            <div class="col-12 pb-5">
                                <form method="get" action="{% url 'project-search' %}">
                                <div class="mb3 pb-3">
                                    <input class="form-control" type="text" name="search">
                                </div>
                                <button class="btn btn-outline-dark" type="submit">Search</button>
                                </form>
                            </div>
                            <div class="col-8">
                                <h5>Filter Tech Used</h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted">
                                    <a id="reset-filters" href="#">Reset filters</a>
                                </p>
                            </div>
                            <div class="col-12 pb-5">
                                <div class="mb3">

                                    {% for keyword in keywords %}
                                    <div class="form-check pb-2">
                                        <input class="form-check-input filter-tech" type="checkbox" name="techKeywordcheckbox" id="techKeywordcheckbox{{forloop.counter}}" value="{{keyword}}" checked="">
                                        <label class="form-check-label text-muted" for="techKeywordcheckbox{{forloop.counter}}">
                                            {{keyword}}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="p-4">
                        <h4>Technologies</h4>
                        <ol class="list-unstyled text-decoration-none">
                        {% for keyword in keywords %}
                            <li><a href="{% url 'project-technology' keyword|slugify %}" class="text-decoration-none">{{keyword}}</a></li>
                        {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /Writer-Info Section Ends -->
        </div>
        <!-- /Blog-Post Section End -->

    </main>
    <!-- /Content Section Ends  -->

    <!-- Footer Section-->

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="{% url 'index' %}#section-about" class="nav-link px-2 text-muted">About</a></li>
                <li class="nav-item"><a href="{% url 'index' %}#section-skills" class="nav-link px-2 text-muted">Skills</a></li>
                <li class="nav-item"><a href="{% url 'index' %}#section-experiences" class="nav-link px-2 text-muted">Experiences</a></li>
                <li class="nav-item"><a href="{% url 'projects' %}" class="nav-link px-2 text-muted">Project</a></li>
                <li class="nav-item"><a href="{% url 'index' %}#section-pricing" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link px-2 text-muted">Blog</a></li>
                <li class="nav-item"><a href="{% url 'index' %}#section-contact" class="nav-link px-2 text-muted">Contact</a></li>
            </ul>
            <p class="text-center text-muted">&copy; 2021 Elkanah-Malonza, Inc</p>
        </footer>
    </div>
    <!-- /Footer Section Ends-->

    <!-- JS Libraies -->
    <script src="{% static 'main/js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript">
        // Filter Project Technology
        $("input[name=techKeywordcheckbox]").change(function(){
            $(".tech-all").hide();
            var num = 0;
            $("input:checkbox[name=techKeywordcheckbox]:checked").each(function(){
                var data = $(this).val();
                var $items = $(".tech-"+data);
                if ($items.length){
                    $(".tech-"+data).show();
                    //num = num + parseInt($(".review-"+data).length);
                }
            });
            //$(".reviews-count").html(num);
        });

        // Load Default Filter on Load
        $(function() {
            $(".tech-all").show();
            $("input:checkbox[name=techKeywordcheckbox]").each(function(){
                $(this).prop('checked', true);
            });
        })

        //Reset Filters
        $("#reset-filters").click(function(event){
            $(".tech-all").show();
            $("input:checkbox[name=techKeywordcheckbox]").each(function(){
                $(this).prop('checked', true);
            });
        });
    </script>
</body>
</html>
