{% extends "admin/base.html" %}

{% block title %} Admin - Blog Article Update {% endblock %}

{% load static %}

{% block css %}
    <script src="https://kit.fontawesome.com/00b6dc780b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'admin/bundles/summernote/summernote-bs4.css' %}">
    <link rel="stylesheet" href="{% static 'admin/bundles/jquery-selectric/selectric.css' %}">
    <link rel="stylesheet" href="{% static 'admin/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">
{% endblock %}

{% block sidenav %}
    <li class="dropdown">
        <a href="{% url 'admin-home' %}" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-messages' %}" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-profile' %}" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-projects' %}" class="nav-link"><i data-feather="codepen"></i><span>Projects</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-work' %}" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-education' %}" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-skills' %}" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-services' %}" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-prices' %}" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li>
    <li class="dropdown active">
        <a href="{% url 'admin-blog' %}" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-settings' %}">App Settings</a></li>
            <li><a class="nav-link" href="{% url 'admin-profile-edit' %}">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-change-password' %}">New-password</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>BLog Entry</h4>
                        </div>
                        <div class="card-body">
                        {% if state == 'ADD_STATE' %}
                        <form action="{% url 'admin-blog-add' %}" method="POST" enctype="multipart/form-data">
                        {% elif state == 'EDIT_STATE' %}
                        <form action="{% url 'admin-blog-edit' article.title|slugify article.id %}" method="POST" enctype="multipart/form-data">
                        {% else %}
                        <form action="{% url 'admin-blog-add' %}" method="POST" enctype="multipart/form-data">
                        {% endif %}
                            {% csrf_token %}
                            <input type="hidden" name="user" value="{{user.id}}">
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Title</label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="form-control" name="title" value="{{article.title}}" required="">
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Series</label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="row">
                                        <div class="col-10">
                                            <select class="form-control selectric" name="series">
                                            {% if state == 'EDIT_STATE' %}
                                                {% if article.series.name == "" %}
                                                    <option value="" selected="">[None]</option>
                                                {% else %}
                                                    <option value="{{article.series.id}}" selected="">{{article.series.name}}</option>
                                                {% endif %}
                                            {% else %}
                                                <option value="" selected="">[None]</option>
                                            {% endif %}
                                            {% for entity in series %}
                                                <option value="{{entity.id}}">{{entity.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="add-more col-2">
                                            <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#addSeriesModal">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Category</label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="row">
                                        <div class="col-10">
                                            <select class="form-control selectric" name="category">
                                            {% if state == 'EDIT_STATE' %}
                                                <option value="{{article.category.id}}" selected="">{{article.category.name}}</option>
                                            {% endif %}
                                            {% for category in categories %}
                                                <option value="{{category.id}}">{{category.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="add-more col-2">
                                            <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#addCategoryModal">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Content</label>
                                <div class="col-sm-12 col-md-7">
                                    <textarea class="summernote" name="content" required="">{{article.content}}</textarea>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Thumbnail</label>
                                <div class="col-sm-12 col-md-7">
                                {% if state == 'EDIT_STATE' %}
                                    {% for field in form %}
                                        {% if field.name == 'image' %}
                                            {{field}}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div id="image-preview" class="image-preview">
                                        <label for="image-upload" id="image-label">Choose File</label>
                                        <input type="file" name="image" id="image-upload" required=""/>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Tags</label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="form-control inputtags" value="{{article.tags}}" name="tags">
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Status</label>
                                <div class="col-sm-12 col-md-7">
                                    <select class="form-control selectric" name="status">
                                    {% if state == 'EDIT_STATE' %}
                                        <option selected="">{{article.status}}</option>
                                    {% endif %}
                                        <option>Publish</option>
                                        <option>Draft</option>
                                        <option>Pending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                <div class="col-sm-12 col-md-7">
                                    <button class="btn btn-primary">Create Post</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modal %}
    <!-- Modal with form -->
    <div class="modal fade bd-example-modal-lg" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">New Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="addForm" action="{% url 'add-blog-category' %}" method="POST">
                        {% csrf_token %}
                        <div class="category-info">
                            <div class="row form-row category-cont">
                                <div class="col-10">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <input type="text" class="form-control" name="category-name_1" required="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <label class="d-md-block d-sm-none d-none">&nbsp;</label>
                                    <a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="add-more">
                            <a href="javascript:void(0);" class="add-category"><i class="fa fa-plus-circle"></i> Add More</a>
                        </div>
                        <input type="hidden" name="form_num" value="1">
                        <p id="count" style="display: none;">1</p>

                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">CREATE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal with form -->
    <div class="modal fade bd-example-modal-lg" id="addSeriesModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">New Series</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="addForm" action="{% url 'add-blog-series' %}" method="POST">
                        {% csrf_token %}
                        <div class="series-info">
                            <div class="row form-row category-cont">
                                <div class="col-10">
                                    <div class="form-group">
                                        <label>Series</label>
                                        <input type="text" class="form-control" name="series-name_1" required="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-2">
                                    <label class="d-md-block d-sm-none d-none">&nbsp;</label>
                                    <a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="add-more">
                            <a href="javascript:void(0);" class="add-series"><i class="fa fa-plus-circle"></i> Add More</a>
                        </div>
                        <input type="hidden" name="form_num-series" value="1">
                        <p id="count-series" style="display: none;">1</p>

                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">CREATE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <!-- JS Libraies -->
    <script src="{% static 'admin/bundles/summernote/summernote-bs4.js' %}"></script>
  <script src="{% static 'admin/bundles/jquery-selectric/jquery.selectric.min.js' %}"></script>
  <script src="{% static 'admin/bundles/upload-preview/assets/js/jquery.uploadPreview.min.js' %}"></script>
  <script src="{% static 'admin/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
    <script type="text/javascript">
        (function($) {
            "use strict";

            // Add Category Add More
            $(".category-info").on('click','.trash', function () {
                $(this).closest('.category-cont').remove();
                return false;
            });

            $(".add-category").on('click', function () {
                var input_num = parseInt($("#count").text());
                input_num = input_num + 1;
                $("#count").text(''+input_num+'');
                $("input[name='form_num']").val(''+input_num+'');
                var listcontent = '<div class="row form-row category-cont">' +
                    '<div class="col-10">' +
                        '<div class="form-group">' +
                            '<label>Category</label>' +
                            '<input type="text" class="form-control" name="category-name_'+input_num+'">' +
                        '</div>' +
                    '</div>' +
                    '<div class="col-12 col-md-2">' +
                       ' <label class="d-md-block d-sm-none d-none">&nbsp;</label>' +
                        '<a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>' +
                    '</div>' +
                '</div>';

                $(".category-info").append(listcontent);
                return false;
            });

            // Add Series Fields
            $(".series-info").on('click','.trash', function () {
                $(this).closest('.series-cont').remove();
                return false;
            });

            $(".add-series").on('click', function () {
                var input_num = parseInt($("#count").text());
                input_num = input_num + 1;
                $("#count-series").text(''+input_num+'');
                $("input[name='form_num-series']").val(''+input_num+'');
                var listcontent = '<div class="row form-row series-cont">' +
                    '<div class="col-10">' +
                        '<div class="form-group">' +
                            '<label>Category</label>' +
                            '<input type="text" class="form-control" name="series-name_'+input_num+'">' +
                        '</div>' +
                    '</div>' +
                    '<div class="col-12 col-md-2">' +
                       ' <label class="d-md-block d-sm-none d-none">&nbsp;</label>' +
                        '<a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>' +
                    '</div>' +
                '</div>';

                $(".series-info").append(listcontent);
                return false;
            });


            $(".addForm").submit(function(event) {
                event.preventDefault();
                $.ajax({
                    data: $(this).serialize(),
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    success: function(response) {
                        console.log(response);
                        if(response['success']) {
                            alert(response['success']);
                            window.location.reload();
                        }
                        if(response['error']) {
                            alert(response['error']);
                            //$("#id_error-text").html("Error: "+response['error']+"");
                        }
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
                });
            });


            $("select").selectric();
            $.uploadPreview({
              input_field: "#image-upload",   // Default: .image-upload
              preview_box: "#image-preview",  // Default: .image-preview
              label_field: "#image-label",    // Default: .image-label
              label_default: "Choose File",   // Default: Choose File
              label_selected: "Change File",  // Default: Change File
              no_label: false,                // Default: false
              success_callback: null          // Default: null
            });
            $(".inputtags").tagsinput('items');

        })(jQuery);
    </script>

{% endblock %}
