***REMOVED***% extends "admin/base.html" %***REMOVED***

***REMOVED***% block title %***REMOVED*** Admin - Education Update ***REMOVED***% endblock %***REMOVED***

***REMOVED***% load static %***REMOVED***

***REMOVED***% block sidenav %***REMOVED***                              
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-home' %***REMOVED***" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-messages' %***REMOVED***" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-profile' %***REMOVED***" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-projects' %***REMOVED***" class="nav-link"><i data-feather="codepen"></i><span>Projects</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-work' %***REMOVED***" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown active">
        <a href="***REMOVED***% url 'admin-education' %***REMOVED***" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-skills' %***REMOVED***" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-services' %***REMOVED***" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li> 
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-prices' %***REMOVED***" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li> 
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-blog' %***REMOVED***" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>          
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="***REMOVED***% url 'admin-settings' %***REMOVED***">App Settings</a></li>
            <li><a class="nav-link" href="***REMOVED***% url 'admin-profile-edit' %***REMOVED***">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="***REMOVED***% url 'admin-change-password' %***REMOVED***">New-password</a></li>
            <li><a class="nav-link" href="***REMOVED***% url 'logout' %***REMOVED***">Logout</a></li>
        </ul>
    </li>                                   
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block content %***REMOVED***
    <section class="section">
        <div class="section-body"> 

        <!-- Edit/Add Profile Form Body  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    ***REMOVED***% if state == 'ADD_STATE' %***REMOVED***
                                    <form method="post" action="***REMOVED***% url 'admin-education-add' %***REMOVED***">
                                    ***REMOVED***% elif state == 'EDIT_STATE' %***REMOVED***
                                    <form method="post" action="***REMOVED***% url 'admin-education-edit' edu.study_type|slugify edu.id %***REMOVED***">
                                    ***REMOVED***% else %***REMOVED***
                                    <form method="post" action="***REMOVED***% url 'admin-education-add' %***REMOVED***">
                                    ***REMOVED***% endif %***REMOVED***
                                        ***REMOVED***% csrf_token %***REMOVED***
                                        <input type="hidden" name="profile" value="***REMOVED******REMOVED***profile.id***REMOVED******REMOVED***"> 
                                        <div class="form-row">
                                            <div class="form-group col-md-10">
                                                <label>Institution</label>
                                                <input type="text" class="form-control" name="institution" value="***REMOVED******REMOVED***edu.institution***REMOVED******REMOVED***" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Study Area</label>
                                                <input type="text" class="form-control" name="study_area" value="***REMOVED******REMOVED***edu.study_area***REMOVED******REMOVED***" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Study Type</label>
                                                <input type="text" class="form-control" name="study_type" value="***REMOVED******REMOVED***edu.study_type***REMOVED******REMOVED***" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>GPA</label>
                                                <input type="text" class="form-control" name="gpa" value="***REMOVED******REMOVED***edu.gpa***REMOVED******REMOVED***" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Location</label>
                                                <input type="text" class="form-control" name="location" value="***REMOVED******REMOVED***edu.location***REMOVED******REMOVED***" required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Start Date</label>
                                                <input type="text" class="form-control" name="start_date" value="***REMOVED******REMOVED***edu.start_date|date:'Y-m-d'***REMOVED******REMOVED***" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>End Date</label>
                                                 <input type="text" class="form-control" name="end_date" value="***REMOVED******REMOVED***edu.end_date|date:'Y-m-d'***REMOVED******REMOVED***" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Description</label>
                                                <textarea class="form-control" name="description">***REMOVED******REMOVED***edu.description***REMOVED******REMOVED***</textarea>
                                            </div>
                                        </div>

                                        <div class="form-row py-4">
                                            <button type="submit" class="btn btn-primary">Update Education</button>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <!-- /Add Letter Form Body  -->

        </div>
    </section>   
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block javascript %***REMOVED***

***REMOVED***% endblock %***REMOVED***
