{% extends "admin/base.html" %}

{% block title %} Admin - Education Update {% endblock %}

{% load static %}

{% block sidenav %}
    <li class="dropdown">
        <a href="{% url 'admin-home' %}" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-messages' %}" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-profile' %}" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-projects' %}" class="nav-link"><i data-feather="codepen"></i><span>Projects</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-work' %}" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown active">
        <a href="{% url 'admin-education' %}" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-skills' %}" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-services' %}" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-prices' %}" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-blog' %}" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-settings' %}">App Settings</a></li>
            <li><a class="nav-link" href="{% url 'admin-profile-edit' %}">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-change-password' %}">New-password</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="section-body">

        <!-- Edit/Add Profile Form Body  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    {% if state == 'ADD_STATE' %}
                                    <form method="post" action="{% url 'admin-education-add' %}">
                                    {% elif state == 'EDIT_STATE' %}
                                    <form method="post" action="{% url 'admin-education-edit' edu.study_type|slugify edu.id %}">
                                    {% else %}
                                    <form method="post" action="{% url 'admin-education-add' %}">
                                    {% endif %}
                                        {% csrf_token %}
                                        <input type="hidden" name="profile" value="{{profile.id}}">
                                        <div class="form-row">
                                            <div class="form-group col-md-10">
                                                <label>Institution</label>
                                                <input type="text" class="form-control" name="institution" value="{{edu.institution}}" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Study Area</label>
                                                <input type="text" class="form-control" name="study_area" value="{{edu.study_area}}" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Study Type</label>
                                                <input type="text" class="form-control" name="study_type" value="{{edu.study_type}}" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>GPA</label>
                                                <input type="text" class="form-control" name="gpa" value="{{edu.gpa}}" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Location</label>
                                                <input type="text" class="form-control" name="location" value="{{edu.location}}" required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Start Date</label>
                                                <input type="text" class="form-control" name="start_date" value="{{edu.start_date|date:'Y-m-d'}}" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>End Date</label>
                                                 <input type="text" class="form-control" name="end_date" value="{{edu.end_date|date:'Y-m-d'}}" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Description</label>
                                                <textarea class="form-control" name="description">{{edu.description}}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-row py-4">
                                            <button type="submit" class="btn btn-primary">Update Education</button>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <!-- /Add Letter Form Body  -->

        </div>
    </section>
{% endblock %}

{% block javascript %}

{% endblock %}
