<!DOCTYPE html>
<html lang="en">
<!-- base.html  10 December 2021 10:30:05 EAT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    ***REMOVED***% load static %***REMOVED***
    <title>Elkanah Malonza | Messages</title>
    <link rel='shortcut icon' type='image/x-icon' href="***REMOVED***% static 'main/img/favicon.ico' %***REMOVED***" />

    <!-- General CSS Files -->
    <link rel="stylesheet" href="***REMOVED***% static 'admin/css/app.min.css' %***REMOVED***">
    <link rel="stylesheet" href="***REMOVED***% static 'admin/bundles/bootstrap-social/bootstrap-social.css' %***REMOVED***">
    <script src="https://kit.fontawesome.com/00b6dc780b.js" crossorigin="anonymous"></script>
    <!-- Template CSS -->
    <link rel="stylesheet" href="***REMOVED***% static 'admin/css/style.css' %***REMOVED***">
    <link rel="stylesheet" href="***REMOVED***% static 'admin/css/components.css' %***REMOVED***">
</head>

<body>
    <div class="loader"></div>
    <div id="app">
    	
        <!-- Main Content -->
      	<div class="">
	        <section class="section">
	          	<div class="section-body">
	            	<div class="row">
	              		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
	                		<div class="card">
	                  			<div class="body">
	                    			<div id="plist" class="people-list">
	                      				<div class="chat-search">
	                        				<input type="text" class="form-control" placeholder="Search..." />
	                      				</div>
	                      				<div class="m-b-20">
	                        				<div id="chat-scroll">
	                          					<ul class="chat-list list-unstyled m-b-0">
	                          					***REMOVED***% for message in messages %***REMOVED***
						                            <li id="message-***REMOVED******REMOVED***message.id***REMOVED******REMOVED***" class="clearfix message-sender ***REMOVED***% if forloop.first %***REMOVED***active***REMOVED***% endif %***REMOVED***">
							                            <div class="about">
							                                <div class="name">***REMOVED******REMOVED***message.first_name***REMOVED******REMOVED*** ***REMOVED******REMOVED***message.last_name***REMOVED******REMOVED***</div>
							                                <div class="status">
							                                  <i class="material-icons online">fiber_manual_record</i>
							                                  ***REMOVED******REMOVED***message.email***REMOVED******REMOVED***</div>
							                            </div>
						                            </li>
						                        ***REMOVED***% endfor %***REMOVED***
	                          					</ul>
	                        				</div>
	                      				</div>
	                    			</div>
	                  			</div>
	                		</div>
	              		</div>
			            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
			                <div class="card">
				                <div class="chat">
				                    <div class="chat-header clearfix">
				                    ***REMOVED***% for message in messages %***REMOVED***
				                    	***REMOVED***% if forloop.first %***REMOVED***
				                      	<img src="assets/img/users/user-1.png" alt="avatar">
					                    <div class="chat-about">
					                        <div class="chat-with">***REMOVED******REMOVED***message.first_name***REMOVED******REMOVED*** ***REMOVED******REMOVED***message.last_name***REMOVED******REMOVED***</div>
					                        <div class="chat-num-messages">***REMOVED******REMOVED***message.email***REMOVED******REMOVED***</div>
					                    </div>
					                	***REMOVED***% endif %***REMOVED***
					                ***REMOVED***% endfor %***REMOVED***
				                    </div>
				                </div>
			                  	<div class="chat-box" id="mychatbox">
				                    <div class="card-body chat-content">
				                    ***REMOVED***% for message in messages %***REMOVED***
				                    	***REMOVED***% if forloop.first %***REMOVED***
				                    	<div class="chat-item chat-left chat-***REMOVED******REMOVED***message.id***REMOVED******REMOVED***">
				                    	***REMOVED***% else %***REMOVED***
				                    	<div class="chat-item chat-left chat-***REMOVED******REMOVED***message.id***REMOVED******REMOVED***" style="display: none;">
				                    	***REMOVED***% endif %***REMOVED***
      										<img src="">
      										<div class="chat-details">
      											<div class="chat-text">***REMOVED******REMOVED***message.message***REMOVED******REMOVED***</div>
      											<div class="chat-time">***REMOVED******REMOVED***message.date_created***REMOVED******REMOVED***</div>
      										</div>
      									</div>
      								***REMOVED***% endfor %***REMOVED***
				                    </div>
				                    <div class="card-footer chat-form">
					                    <form id="chat-form">
					                        <input type="text" class="form-control" placeholder="Type a message">
					                        <button class="btn btn-primary">
					                        	<i class="far fa-paper-plane"></i>
					                        </button>
					                    </form>
				                    </div>
			                  	</div>
			                </div>
			            </div>
	            	</div>
	          	</div>
	        </section>
      	</div>
    </div>
    <!-- General JS Scripts -->
    <script src="***REMOVED***% static 'admin/js/app.min.js' %***REMOVED***"></script>

    <!-- Template JS File -->
    <script src="***REMOVED***% static 'admin/js/scripts.js' %***REMOVED***"></script>
    <script type="text/javascript">
    	***REMOVED***% for message in messages %***REMOVED***
    	$("#message-***REMOVED******REMOVED***message.id***REMOVED******REMOVED***").click(function(event)***REMOVED***
    		//alert("***REMOVED******REMOVED***message.first_name***REMOVED******REMOVED***");
    		$(".chat-with").html("***REMOVED******REMOVED***message.first_name***REMOVED******REMOVED*** ***REMOVED******REMOVED***message.last_name***REMOVED******REMOVED***");
    		$(".message-sender").removeClass("active");
    		$(this).addClass("active");
    		$(".chat-item").hide();
    		$(".chat-***REMOVED******REMOVED***message.id***REMOVED******REMOVED***").show(); 		
    	***REMOVED***);
    	***REMOVED***% endfor %***REMOVED***
    </script>
</body>