***REMOVED***% extends "admin/base.html" %***REMOVED***

***REMOVED***% block title %***REMOVED*** Admin - Prices ***REMOVED***% endblock %***REMOVED***

***REMOVED***% load static %***REMOVED***

***REMOVED***% block sidenav %***REMOVED***                              
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-home' %***REMOVED***" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-messages' %***REMOVED***" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-profile' %***REMOVED***" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-projects' %***REMOVED***" class="nav-link"><i data-feather="codepen"></i><span>Projects</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-work' %***REMOVED***" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-education' %***REMOVED***" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-skills' %***REMOVED***" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-services' %***REMOVED***" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li> 
    <li class="dropdown active">
        <a href="***REMOVED***% url 'admin-prices' %***REMOVED***" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li> 
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-blog' %***REMOVED***" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>          
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="***REMOVED***% url 'admin-settings' %***REMOVED***">App Settings</a></li>
            <li><a class="nav-link" href="***REMOVED***% url 'admin-profile-edit' %***REMOVED***">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="***REMOVED***% url 'admin-change-password' %***REMOVED***">New-password</a></li>
            <li><a class="nav-link" href="***REMOVED***% url 'logout' %***REMOVED***">Logout</a></li>
        </ul>
    </li>                                   
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block content %***REMOVED***
    <section class="section">
        <div class="section-body"> 

        <!-- Edit/Add Profile Form Body  -->
            <div class="row p-3">
                <a href="***REMOVED***% url 'admin-price-add' %***REMOVED***" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add Pricing</a>
            </div>
            <div class="row">
            ***REMOVED***% for price in prices %***REMOVED***
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="pricing">
                        <div class="pricing-title">***REMOVED******REMOVED***price.name***REMOVED******REMOVED***</div>
                        <div class="pricing-padding">
                            <div class="pricing-price">
                                <div>kSh ***REMOVED******REMOVED***price.price***REMOVED******REMOVED***</div>
                                <div>per month</div>
                            </div>
                            <div class="pricing-details">
                            ***REMOVED***% for keyword in price.keywords %***REMOVED***
                                <div class="pricing-item">
                                ***REMOVED***% if keyword.status == 'active'  %***REMOVED***
                                    <div class="pricing-item-icon"><i class="fas fa-check"></i></div>
                                ***REMOVED***% elif keyword.status == 'not_active'  %***REMOVED***
                                    <div class="pricing-item-icon bg-danger text-white"><i class="fas fa-times"></i></div>
                                ***REMOVED***% else %***REMOVED***
                                    <div class="pricing-item-icon bg-danger text-white"><i class="fas fa-times"></i></div>
                                ***REMOVED***% endif %***REMOVED***
                                    
                                    <div class="pricing-item-label">***REMOVED******REMOVED***keyword.name***REMOVED******REMOVED***</div>
                                </div>
                            ***REMOVED***% endfor %***REMOVED***
                            </div>
                        </div>
                        <div class="pricing-cta">
                            <a href="***REMOVED***% url 'admin-price-edit' price.name|slugify price.id %***REMOVED***">Edit <i class="fas fa-pencil-alt"></i></a>
                        </div>
                    </div>
                </div>
            ***REMOVED***% empty %***REMOVED***
                <div class="text-center"><p>No Prices Available. Click <a href="***REMOVED***% url 'admin-price-add' %***REMOVED***">Here</a> to Add.</p></div>
            ***REMOVED***% endfor %***REMOVED***
            </div>
        <!-- /Add Letter Form Body  -->

        </div>
    </section>   
***REMOVED***% endblock %***REMOVED***