***REMOVED***% extends "admin/base.html" %***REMOVED***

***REMOVED***% block title %***REMOVED*** Admin - Home ***REMOVED***% endblock %***REMOVED***

***REMOVED***% load static %***REMOVED***

***REMOVED***% block css %***REMOVED***
    <!-- Custom style CSS 
    <link rel="stylesheet" href="***REMOVED***% static 'main/css/page/index.css' %***REMOVED***">-->
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block sidenav %***REMOVED***                              
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-home' %***REMOVED***" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-messages' %***REMOVED***" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown active">
        <a href="***REMOVED***% url 'admin-profile' %***REMOVED***" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-projects' %***REMOVED***" class="nav-link"><i data-feather="codepen"></i><span>Projects</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-work' %***REMOVED***" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-education' %***REMOVED***" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-skills' %***REMOVED***" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-services' %***REMOVED***" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li> 
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-blog' %***REMOVED***" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>          
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="***REMOVED***% url 'admin-settings' %***REMOVED***">App Settings</a></li>
            <li><a class="nav-link" href="***REMOVED***% url 'admin-settings' %***REMOVED***">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="#">New-password</a></li>
            <li><a class="nav-link" href="***REMOVED***% url 'logout' %***REMOVED***">Logout</a></li>
        </ul>
    </li>                                   
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block content %***REMOVED***
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card author-box card-primary">
                        <div class="card-body">
                            <div class="author-box-left">
                                <img alt="image" src="***REMOVED******REMOVED***profile.image.url***REMOVED******REMOVED***" class="rounded-circle author-box-picture">
                                <div class="clearfix"></div>
                                <a href="***REMOVED***% url 'admin-profile-edit' %***REMOVED***" class="btn btn-primary mt-3 follow-btn">Update</a>
                            </div>
                            <div class="author-box-details">
                                <div class="author-box-name">
                                    <a href="#">***REMOVED******REMOVED***profile.first_name***REMOVED******REMOVED*** ***REMOVED******REMOVED***profile.second_name***REMOVED******REMOVED***</a>
                                </div>
                                <div class="author-box-job">Web Developer</div>
                                <div class="author-box-description">
                                    <p>***REMOVED******REMOVED***profile.description***REMOVED******REMOVED***</p>
                                </div>

                                <div class="author-box-description">
                                    <p>
                                        <i class="fas fa-envelope px-2"></i>
                                        <a href="mailto:***REMOVED******REMOVED***profile.email_1***REMOVED******REMOVED***">***REMOVED******REMOVED***profile.email_1***REMOVED******REMOVED***</a>, <a href="mailto:***REMOVED******REMOVED***profile.email_2***REMOVED******REMOVED***">***REMOVED******REMOVED***profile.email_2***REMOVED******REMOVED***</a>
                                        <br>

                                        <i class="fas fa-phone-alt px-2"></i>
                                        <a href="#">***REMOVED******REMOVED***profile.phone_number_1***REMOVED******REMOVED***</a>, <a href="#">***REMOVED******REMOVED***profile.phone_number_2***REMOVED******REMOVED***</a>
                                        <br>

                                        <i class="fas fa-paper-plane px-2"></i>
                                        <a href="#">***REMOVED******REMOVED***profile.address***REMOVED******REMOVED***</a>
                                    </p>
                                </div>

                                <div class="mb-2 mt-3">
                                    <div class="text-small font-weight-bold">My Links</div>
                                </div>
                                ***REMOVED***% for social in socials %***REMOVED***
                                    ***REMOVED***% if social.name == 'Facebook' %***REMOVED***
                                    <a href="***REMOVED******REMOVED***social.url***REMOVED******REMOVED***" class="btn btn-social-icon mr-1 btn-facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    ***REMOVED***% elif social.name == 'Twitter' %***REMOVED***  
                                    <a href="***REMOVED******REMOVED***social.url***REMOVED******REMOVED***" class="btn btn-social-icon mr-1 btn-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    ***REMOVED***% elif social.name == 'Github' %***REMOVED***
                                    <a href="***REMOVED******REMOVED***social.url***REMOVED******REMOVED***" class="btn btn-social-icon mr-1 btn-github">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    ***REMOVED***% elif social.name == 'Instagram' %***REMOVED***
                                    <a href="***REMOVED******REMOVED***social.url***REMOVED******REMOVED***" class="btn btn-social-icon mr-1 btn-instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    ***REMOVED***% else %***REMOVED***
                                    <a href="***REMOVED******REMOVED***social.url***REMOVED******REMOVED***" class="btn btn-social-icon mr-1 btn-instagram">
                                        <i class="***REMOVED******REMOVED***social.logo***REMOVED******REMOVED***"></i>
                                    </a>
                                    ***REMOVED***% endif %***REMOVED***
                                ***REMOVED***% endfor %***REMOVED***
                                <div class="w-100 d-sm-none"></div>
                                <div class="float-right mt-sm-0 mt-3">
                                    <a href="***REMOVED***% url 'admin-profile-edit' %***REMOVED***" class="btn">Edit Profile <i class="fas fa-edit"></i></a>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col-12 text-center">
                                    <h4>My CV/Resume </h4>
                                </div>
                                <div class="col-12">
                                    <iframe class=" w-100" src="***REMOVED******REMOVED***profile.cv_file.url***REMOVED******REMOVED***" width="100%" height="720px"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block javascript %***REMOVED***

***REMOVED***% endblock %***REMOVED***
