{% extends "admin/base.html" %}

{% block title %} Admin - Project Update {% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'admin/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">
{% endblock %}

{% block sidenav %}
    <li class="dropdown">
        <a href="{% url 'admin-home' %}" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-messages' %}" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-profile' %}" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown active">
        <a href="{% url 'admin-projects' %}" class="nav-link"><i data-feather="codepen"></i><span>Projects</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-work' %}" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-education' %}" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-skills' %}" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-services' %}" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-prices' %}" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-blog' %}" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-settings' %}">App Settings</a></li>
            <li><a class="nav-link" href="{% url 'admin-profile-edit' %}">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-change-password' %}">New-password</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="section-body">

        <!-- Edit/Add Profile Form Body  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 pt-4">
                                    {% if state == 'ADD_STATE' %}
                                    <form method="post" action="{% url 'admin-project-add' %}" enctype="multipart/form-data">
                                    {% elif state == 'EDIT_STATE' %}
                                    <form method="post" action="{% url 'admin-project-edit' project.name|slugify project.id %}" enctype="multipart/form-data">
                                    {% else %}
                                    <form method="post" action="{% url 'admin-project-add' %}" enctype="multipart/form-data">
                                    {% endif %}
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <input type="hidden" name="profile" value="{{profile.id}}">
                                            <div class="form-group col-md-6">
                                                <label>Image</label>
                                            {% for field in form %}
                                                {% if field.name == 'image' %}
                                                    {{field}}
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Project Name</label>
                                                <input type="text" class="form-control" name="name" value="{{project.name}}" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Url</label>
                                                <input type="text" class="form-control" name="url" value="{{project.url}}" required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Date</label>
                                                <input type="text" class="form-control" name="date" value="{{project.date|date:"Y-m-d"}}" placeholder="YYYY-MM-DD" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Video LInk</label>
                                                 <input type="text" class="form-control" name="video_url" value="{{project.video_url}}">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <label>Technologies</label>
                                                <input type="text" class="form-control inputtags" name="keywords" value="{% for keyword in project.keywords.all %}
                                              {{keyword.technology}},
                                            {% endfor %}" required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <label>New Project Images</label>
                                                <input type="file" class="form-control" name="picture" multiple>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <label>Description</label>
                                                <textarea class="form-control" name="description">{{project.description}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <button type="submit" class="btn btn-primary">Update Project</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            {% if state == 'EDIT_STATE' %}
                            <div class="row pt-4">
                                <div class="col-12 text-center"><h3>Update Project Images</h3></div>
                                {% for img, img_form in form_set %}
                                <div class="col-12 pt-3">
                                    <form method="post" action="{% url 'project-image-update' project.name|slugify img.id %}" enctype="multipart/form-data">
                                        <div class="form-row">
                                            {% csrf_token %}
                                            <input type="hidden" name="project" value="{{project.id}}">
                                            <div class="form-group col-md-8">
                                                <label>Image {{forloop.counter}}</label>
                                            {% for field in img_form %}
                                                {% if field.name == 'picture' %}
                                                    {{field}}
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                                <a href="{% url 'project-image-delete' project.name|slugify img.id %}" class="btn btn-danger">Remove</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        <!-- /Add Letter Form Body  -->

        </div>
    </section>
{% endblock %}

{% block javascript %}
  <script src="{% static 'admin/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
  <script type="text/javascript">
        (function($) {
            "use strict";
            $(".inputtags").tagsinput('items');
        })(jQuery);
  </script>
{% endblock %}
