***REMOVED***% extends "admin/base.html" %***REMOVED***

***REMOVED***% block title %***REMOVED*** Admin - Home ***REMOVED***% endblock %***REMOVED***

***REMOVED***% load static %***REMOVED***

***REMOVED***% block css %***REMOVED***
    <link rel="stylesheet" href="***REMOVED***% static 'admin/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %***REMOVED***">
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block sidenav %***REMOVED***                              
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-home' %***REMOVED***" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-messages' %***REMOVED***" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-profile' %***REMOVED***" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown active">
        <a href="***REMOVED***% url 'admin-projects' %***REMOVED***" class="nav-link"><i data-feather="codepen"></i><span>Projects</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-work' %***REMOVED***" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-education' %***REMOVED***" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-skills' %***REMOVED***" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-services' %***REMOVED***" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li> 
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-blog' %***REMOVED***" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>          
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="***REMOVED***% url 'admin-settings' %***REMOVED***">App Settings</a></li>
            <li><a class="nav-link" href="***REMOVED***% url 'admin-settings' %***REMOVED***">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="#">New-password</a></li>
            <li><a class="nav-link" href="***REMOVED***% url 'logout' %***REMOVED***">Logout</a></li>
        </ul>
    </li>                                   
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block content %***REMOVED***
    <section class="section">
        <div class="section-body"> 

        <!-- Edit/Add Profile Form Body  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 pt-4">
                                    ***REMOVED***% if state == 'ADD_STATE' %***REMOVED***
                                    <form method="post" action="***REMOVED***% url 'admin-project-add' %***REMOVED***" enctype="multipart/form-data">
                                    ***REMOVED***% elif state == 'EDIT_STATE' %***REMOVED***
                                    <form method="post" action="***REMOVED***% url 'admin-project-edit' project.name|slugify project.id %***REMOVED***" enctype="multipart/form-data">
                                    ***REMOVED***% else %***REMOVED***
                                    <form method="post" action="***REMOVED***% url 'admin-project-add' %***REMOVED***" enctype="multipart/form-data">
                                    ***REMOVED***% endif %***REMOVED***
                                        ***REMOVED***% csrf_token %***REMOVED***
                                        <div class="form-row">
                                            <input type="hidden" name="profile" value="***REMOVED******REMOVED***profile.id***REMOVED******REMOVED***">
                                            <div class="form-group col-md-6">
                                                <label>Image</label>
                                            ***REMOVED***% for field in form %***REMOVED***
                                                ***REMOVED***% if field.name == 'image' %***REMOVED***
                                                    ***REMOVED******REMOVED***field***REMOVED******REMOVED***
                                                ***REMOVED***% endif %***REMOVED***
                                            ***REMOVED***% endfor %***REMOVED***
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Project Name</label>
                                                <input type="text" class="form-control" name="name" value="***REMOVED******REMOVED***project.name***REMOVED******REMOVED***" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Url</label>
                                                <input type="text" class="form-control" name="url" value="***REMOVED******REMOVED***project.url***REMOVED******REMOVED***" required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Date</label>
                                                <input type="text" class="form-control" name="date" value="***REMOVED******REMOVED***project.date|date:"Y-m-d"***REMOVED******REMOVED***" placeholder="YYYY-MM-DD" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Video LInk</label>
                                                 <input type="text" class="form-control" name="phone_2">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <label>Technologies</label>
                                                <input type="text" class="form-control inputtags" name="keywords" value="***REMOVED***% for keyword in project.keywords %***REMOVED***
                                              ***REMOVED******REMOVED***keyword.technology***REMOVED******REMOVED***, 
                                            ***REMOVED***% endfor %***REMOVED***" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <label>Description</label>
                                                <textarea class="form-control" name="description">***REMOVED******REMOVED***project.description***REMOVED******REMOVED***</textarea>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <button type="submit" class="btn btn-primary">Update Project</button>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <!-- /Add Letter Form Body  -->

        </div>
    </section>   
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block javascript %***REMOVED***
  <script src="***REMOVED***% static 'admin/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %***REMOVED***"></script>
  <script type="text/javascript">
        (function($) ***REMOVED***
            "use strict";
            $(".inputtags").tagsinput('items');
        ***REMOVED***)(jQuery);
  </script>
***REMOVED***% endblock %***REMOVED***
