{% extends "admin/base.html" %}

{% block title %} Admin - {{project.name}} Project {% endblock %}

{% load static %}

{% block css %}
{% endblock %}

{% block sidenav %}
    <li class="dropdown">
        <a href="{% url 'admin-home' %}" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-messages' %}" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-profile' %}" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown active">
        <a href="{% url 'admin-projects' %}" class="nav-link"><i data-feather="codepen"></i><span>Project</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-work' %}" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-education' %}" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-skills' %}" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-services' %}" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-prices' %}" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-blog' %}" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-settings' %}">App Settings</a></li>
            <li><a class="nav-link" href="{% url 'admin-profile-edit' %}">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-change-password' %}">New-password</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
 	<section class="section">
        <div class="section-body">
            <div class="row pt-4">
              	<div class="col-12">
	                <div class="card">
	                  	<div class="card-body">
	                  		<div class="row py-4">
			                    <div class="col-lg-8 col-sm-12">
			                        <div class="row">
			                            <div class="col-lg-3 col-sm-12">
			                                <img src="{{project.image.url}}" class="img-thumbnail" alt="# {{project.name}} Image">
			                            </div>
			                            <div class="col-lg-9 col-sm-12">
			                                <h1>{{project.name}}</h1>
			                                <p class="text-muted">
			                                {% for keyword in project.highlight_keywords %}
			                                	<span>{{keyword.technology}}</span> |
			                               	{% endfor %}
			                                </p>

			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-4 col-sm-12 pt-4">
			                        <ul class="list-group">
			                            <li class="list-group-item d-flex justify-content-between">
			                                <div class="ms-2 me-auto">
			                                  <div class="fw-bold">Project Link<i class="fas fa-globe text-muted"></i></div>
			                                  <a class="text-decoration-none" href="{{project.url}}" target="_blank" rel="noopener noreferrer"> visit project website</a>
			                                </div>
			                            </li>
			                        </ul>
			                    </div>

			                </div>
			                <hr>

	                  		<div class="row py-4 px-3">
	                  			<div class="col-12 ">
						            <div class="row">
						            	<div class="col-12">
							                <h3>About</h3>
							                <p>{{project.description}}</p>
							            </div>
						                <div class="col-12">
					                    {% for keyword in project.keywords %}
					                        <a href="#" class="btn btn-primary">{{keyword.technology}}</a>
					                    {% endfor %}
						                </div>
						                <div class="col-12 pt-4">
						                    <iframe width="100%" height="500"  src="{{project.video_url}}">
						                    </iframe>
						                </div>
						                <div class="col-12 py-4">
						                    <h4>Project Gallery</h4>
						                    <div class="row clearfix">
						                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
						                            <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
						                            {% for image in project.images %}
						                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 g-5">
						                                    <a href="{{image.picture.url}}" data-sub-html="Demo Description">
						                                      <img class="img-fluid thumbnail" src="{{image.picture.url}}" alt="">
						                                    </a>
						                                </div>
						                            {% endfor %}
						                            </div>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
	                  		</div>
	                  	</div>
	                </div>
	            </div>
	        </div>


        </div>
    </section>
{% endblock %}

{% block javascript %}


{% endblock %}
