{% extends "admin/base.html" %}

{% block title %} Admin - Projects {% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'admin/bundles/datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block sidenav %}                              
    <li class="dropdown">
        <a href="{% url 'admin-home' %}" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-messages' %}" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-profile' %}" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown active">
        <a href="{% url 'admin-projects' %}" class="nav-link"><i data-feather="codepen"></i><span>Project</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-work' %}" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-education' %}" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-skills' %}" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-services' %}" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li>  
    <li class="dropdown">
        <a href="{% url 'admin-prices' %}" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li> 
    <li class="dropdown">
        <a href="{% url 'admin-blog' %}" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>          
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-settings' %}">App Settings</a></li>
            <li><a class="nav-link" href="{% url 'admin-profile-edit' %}">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-change-password' %}">New-password</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>                                   
{% endblock %}

{% block content %}
    <section class="section">
        <div class="section-body">
            
            <div class="row">
	            <div class="col-12">
	                <div class="card">
		                <div class="card-header">
		                    <h4>My Projects</h4>
		                    <div class="card-header-action">
                              	<a href="{% url 'admin-project-add' %}" class="btn btn-primary">
	                                <i class="fas fa-plus"></i>
	                                Add Project
	                             </a>
	                        </div>
                  		</div>
                  		<div class="card-body">
                    		<div class="table-responsive">
                      			<table class="table table-striped" id="table-2">
			                        <thead>
				                        <tr>
				                            <th class="text-center">#</th>
				                            <th>Project Name</th>
				                            <th>Image</th>
				                            <th>Technologies</th>
				                            <th>Date</th>
				                            <th>Link</th>
				                            <th>Action</th>
				                            <th></th>
				                            <th></th>
				                        </tr>
			                        </thead>
			                        <tbody>
			                        {% for project in projects %}
				                        <tr>
				                            <td class="text-center">{{forloop.counter}}</td>
				                            <td>{{project.name}}</td>
				                            <td class="align-left">
				                              	<img alt="image" src="{{project.image.url}}" width="35">
				                            </td>
				                            <td>
				                            {% for keyword in project.keywords %}
				                              {{keyword.technology}}, 
				                            {% endfor %}
				                            </td>
				                            <td>{{project.date}}</td>
				                            <td>
				                            	<a href="{{project.url}}">link</a>
				                            </td>
				                            <td><a href="{% url 'admin-project' project.name|slugify project.id %}" class="btn btn-primary">Detail</a></td>
				                            <td><a href="{% url 'admin-project-edit' project.name|slugify project.id %}" class="btn btn-warning">Edit</a></td>
				                            <td><a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteProjectModal{{project.id}}">Delete</a></td>
				                        </tr>
				                    {% endfor %}
                        			</tbody>
                      			</table>
                    		</div>
                  		</div>
               	 	</div>
              	</div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modal %}
	{% for project in projects %}
	<!--delete Project Modal {{project.name}}-->
        <div class="modal fade" id="deleteProjectModal{{project.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Delete {{project.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ARE YOU SURE?
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <a href="{% url 'admin-project-delete' project.name|slugify project.id %}" class="btn btn-danger deleteModal">Delete</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
	{% endfor %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'admin/bundles/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'admin/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>

    <script type="text/javascript">
        $("#table-2").dataTable({
            "columnDefs": [
                { "sortable": false, "targets": [0, 1] }
            ],
            order: [[1, "asc"]] //column indexes is zero based
        });
    </script>

{% endblock %}