***REMOVED***% extends "admin/base.html" %***REMOVED***

***REMOVED***% block title %***REMOVED*** Admin - Skills ***REMOVED***% endblock %***REMOVED***

***REMOVED***% load static %***REMOVED***

***REMOVED***% block css %***REMOVED***
    <link rel="stylesheet" href="***REMOVED***% static 'admin/bundles/datatables/datatables.min.css' %***REMOVED***">
    <link rel="stylesheet" href="***REMOVED***% static 'admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %***REMOVED***">
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block sidenav %***REMOVED***                              
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-home' %***REMOVED***" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-messages' %***REMOVED***" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-profile' %***REMOVED***" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-projects' %***REMOVED***" class="nav-link"><i data-feather="codepen"></i><span>Project</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-work' %***REMOVED***" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-education' %***REMOVED***" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown active">
        <a href="***REMOVED***% url 'admin-skills' %***REMOVED***" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-services' %***REMOVED***" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li>  
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-prices' %***REMOVED***" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li> 
    <li class="dropdown">
        <a href="***REMOVED***% url 'admin-blog' %***REMOVED***" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>          
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="***REMOVED***% url 'admin-settings' %***REMOVED***">App Settings</a></li>
            <li><a class="nav-link" href="***REMOVED***% url 'admin-profile-edit' %***REMOVED***">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="***REMOVED***% url 'admin-change-password' %***REMOVED***">New-password</a></li>
            <li><a class="nav-link" href="***REMOVED***% url 'logout' %***REMOVED***">Logout</a></li>
        </ul>
    </li>                                   
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block content %***REMOVED***
    <section class="section">
        <div class="section-body">
            
            <div class="row">
              	<div class="col-12">
                	<div class="card">
		                <div class="card-header">
		                    <h4>My Skills</h4>
		                    <div class="card-header-action">
                              	<a href="***REMOVED***% url 'admin-skills-add' %***REMOVED***" class="btn btn-primary">
	                                <i class="fas fa-plus"></i>
	                                Add Skill
	                             </a>
	                        </div>
		                </div>
		                <div class="card-body">
		                    <div class="table-responsive">
				                <table class="table table-striped" id="table-2">
				                    <thead>
				                        <tr>
				                            <th class="text-center pt-3">
					                            <div class="custom-checkbox custom-checkbox-table custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
					                                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
					                            </div>
				                            </th>
				                            <th>Skill</th>
				                            <th>Sub-Skill</th>
				                            <th>Action</th>
				                            <th></th>
				                        </tr>
				                    </thead>
			                        <tbody>
			                        ***REMOVED***% for skill in skills %***REMOVED***
					                    <tr>
				                            <td class="text-center pt-2">
					                            <div class="custom-checkbox custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
					                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
					                            </div>
				                            </td>
					                        <td>***REMOVED******REMOVED***skill.name***REMOVED******REMOVED***</td>
					                        <td class="align-middle">
			                              	***REMOVED***% for keyword in skill.keywords %***REMOVED***
			                              		<div class="badge badge-info badge-shadow">***REMOVED******REMOVED***keyword.name***REMOVED******REMOVED***</div>
			                              	***REMOVED***% endfor %***REMOVED***
					                        </td>
					                            
					                        <td>
					                        	<a href="***REMOVED***% url 'admin-skills-edit' skill.name|slugify skill.id %***REMOVED***" class="btn btn-warning">Edit</a>
					                        </td>
					                        <td>
					                        	<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteSkillModal***REMOVED******REMOVED***skill.id***REMOVED******REMOVED***">Delete</a>
					                        </td>
					                    </tr>
					                ***REMOVED***% endfor %***REMOVED***
                        			</tbody>
                      			</table>
                    		</div>
                  		</div>
                	</div>
              	</div>
            </div>

            <div class="row">
              	<div class="col-12">
                	<div class="card">
		                <div class="card-header">
		                    <h4>Technical Skills Proficiency</h4>
		                </div>
		                <div class="card-body">
		                    <div class="table-responsive">
				                <table class="table table-striped" id="table-1">
				                    <thead>
				                        <tr>
				                            <th class="text-center pt-3">
					                            <div class="custom-checkbox custom-checkbox-table custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
					                                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
					                            </div>
				                            </th>
				                            <th>Skill</th>
				                            <th>Proficiency(%)</th>
				                            <th>Action</th>
				                            <th></th>
				                        </tr>
				                    </thead>
			                        <tbody>
			                        ***REMOVED***% for tech in tech_skills %***REMOVED***
			                        	<form method="post" action="***REMOVED***% url 'admin-skills-technical-edit' %***REMOVED***">
			                        	<tr>
				                            <td class="text-center pt-2">
					                            <div class="custom-checkbox custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
					                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
					                            </div>
					                            ***REMOVED***% csrf_token %***REMOVED***
					                            <input type="hidden" name="tech_skill_id" value="***REMOVED******REMOVED***tech.id***REMOVED******REMOVED***">
				                            </td>
				                            <td class="align-middle">
						                        <select class="form-control" name="skill_keyword">
						                        ***REMOVED***% for skill in skills %***REMOVED***
				                              		***REMOVED***% for keyword in skill.keywords %***REMOVED***
				                              			***REMOVED***% if tech.skill_keyword.id == keyword.id %***REMOVED***
				                              		<option value="***REMOVED******REMOVED***keyword.id***REMOVED******REMOVED***" selected="">***REMOVED******REMOVED***keyword.name***REMOVED******REMOVED***</option> 
				                              			***REMOVED***% else %***REMOVED***
				                              		<option value="***REMOVED******REMOVED***keyword.id***REMOVED******REMOVED***">***REMOVED******REMOVED***keyword.name***REMOVED******REMOVED***</option>
				                              			***REMOVED***% endif %***REMOVED***
				                              		***REMOVED***% endfor %***REMOVED***
				                              	***REMOVED***% endfor %***REMOVED***
				                              	</select>
					                        </td>
					                        <td> 
					                        	<input type="number" name="percentage" class="form-control" value="***REMOVED******REMOVED***tech.percentage***REMOVED******REMOVED***"> 
					                        </td>
					                        <td>
					                        	<button type="submit" class="btn btn-primary">Update</button>
					                        </td>
					                        <td>
					                        	<a href="***REMOVED***% url 'admin-skills-technical-delete' tech.id %***REMOVED***" class="btn btn-danger">Delete</a>
					                        </td>
					                    </tr>
					                    </form>
					                ***REMOVED***% endfor %***REMOVED***
					                	<form method="post" action="***REMOVED***% url 'admin-skills-technical-add' %***REMOVED***">
					                    <tr>
				                            <td class="text-center pt-2">
					                            <div class="custom-checkbox custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
					                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
					                            </div>
					                                ***REMOVED***% csrf_token %***REMOVED***
				                            </td>
				                            <td class="align-middle">
						                        <select class="form-control" name="skill_keyword">
						                        ***REMOVED***% for skill in skills %***REMOVED***
				                              		***REMOVED***% for keyword in skill.keywords %***REMOVED***
				                              		<option value="***REMOVED******REMOVED***keyword.id***REMOVED******REMOVED***">***REMOVED******REMOVED***keyword.name***REMOVED******REMOVED***</option> 
				                              		***REMOVED***% endfor %***REMOVED***
				                              	***REMOVED***% endfor %***REMOVED***
				                              	</select>
					                        </td>
					                        <td> <input type="number" name="percentage" class="form-control"> </td>
					                        <td colspan="2">
					                        	<button type="submit" class="btn btn-primary">ADD</a>
					                        </td>
					                    </tr>
					                    </form>
                        			</tbody>
                      			</table>
                    		</div>
                  		</div>
                	</div>
              	</div>
            </div>

            <div class="row">
              	<div class="col-12">
                	<div class="card">
		                <div class="card-header">
		                    <h4>Professional Skills Proficiency</h4>
		                </div>
		                <div class="card-body">
		                    <div class="table-responsive">
				                <table class="table table-striped" id="table-3">
				                    <thead>
				                        <tr>
				                            <th class="text-center pt-3">
					                            <div class="custom-checkbox custom-checkbox-table custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
					                                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
					                            </div>
				                            </th>
				                            <th>Skill</th>
				                            <th>Proficiency(%)</th>
				                            <th>Action</th>
				                            <th></th>
				                        </tr>
				                    </thead>
			                        <tbody>
			                        ***REMOVED***% for prof in prof_skills %***REMOVED***
			                        	<form method="post" action="***REMOVED***% url 'admin-skills-professional-edit' %***REMOVED***">
			                        	<tr>
				                            <td class="text-center pt-2">
					                            <div class="custom-checkbox custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
					                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
					                            </div>
					                            ***REMOVED***% csrf_token %***REMOVED***
					                            <input type="hidden" name="prof_skill_id" value="***REMOVED******REMOVED***prof.id***REMOVED******REMOVED***">
				                            </td>
				                            <td class="align-middle">
						                        <input type="text" name="name" class="form-control" value="***REMOVED******REMOVED***prof.name***REMOVED******REMOVED***"> 
					                        </td>
					                        <td> 
					                        	<input type="number" name="percentage" class="form-control" value="***REMOVED******REMOVED***prof.percentage***REMOVED******REMOVED***"> 
					                        </td>
					                        <td>
					                        	<button type="submit" class="btn btn-primary">Update</button>
					                        </td>
					                        <td>
					                        	<a href="***REMOVED***% url 'admin-skills-professional-delete' prof.id %***REMOVED***" class="btn btn-danger">Delete</a>
					                        </td>
					                    </tr>
					                    </form>
					                ***REMOVED***% endfor %***REMOVED***
					                	<form method="post" action="***REMOVED***% url 'admin-skills-professional-add' %***REMOVED***">
					                    <tr>
				                            <td class="text-center pt-2">
					                            <div class="custom-checkbox custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
					                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
					                            </div>
					                                ***REMOVED***% csrf_token %***REMOVED***
				                            </td>
				                            <td class="align-middle">
						                        <input type="text" name="name" class="form-control"> 
					                        </td>
					                        <td> <input type="number" name="percentage" class="form-control"> </td>
					                        <td colspan="2">
					                        	<button type="submit" class="btn btn-primary">ADD</a>
					                        </td>
					                    </tr>
					                    </form>
                        			</tbody>
                      			</table>
                    		</div>
                  		</div>
                	</div>
              	</div>
            </div>


        </div>
    </section>
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block modal %***REMOVED***
    ***REMOVED***% for skill in skills %***REMOVED***
    <!--delete Work Modal ***REMOVED******REMOVED***skill.name***REMOVED******REMOVED***-->
        <div class="modal fade" id="deleteSkillModal***REMOVED******REMOVED***skill.id***REMOVED******REMOVED***" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Delete ***REMOVED******REMOVED***skill.name***REMOVED******REMOVED***</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ARE YOU SURE?
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <a href="***REMOVED***% url 'admin-skills-delete' skill.name|slugify skill.id %***REMOVED***" class="btn btn-danger deleteModal">Delete</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
    ***REMOVED***% endfor %***REMOVED***
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block javascript %***REMOVED***
    <script src="***REMOVED***% static 'admin/bundles/datatables/datatables.min.js' %***REMOVED***"></script>
    <script src="***REMOVED***% static 'admin/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %***REMOVED***"></script>

    <script type="text/javascript">
        $("#table-2").dataTable(***REMOVED***
            "columnDefs": [
                ***REMOVED*** "sortable": false, "targets": [0, 1] ***REMOVED***
            ],
            order: [[1, "asc"]] //column indexes is zero based
        ***REMOVED***);
    </script>

***REMOVED***% endblock %***REMOVED***