{% extends "admin/base.html" %}

{% block title %} Admin - Skills {% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'admin/bundles/datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block sidenav %}
    <li class="dropdown">
        <a href="{% url 'admin-home' %}" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-messages' %}" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-profile' %}" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-projects' %}" class="nav-link"><i data-feather="codepen"></i><span>Project</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-work' %}" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-education' %}" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown active">
        <a href="{% url 'admin-skills' %}" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-services' %}" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-prices' %}" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-blog' %}" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-settings' %}">App Settings</a></li>
            <li><a class="nav-link" href="{% url 'admin-profile-edit' %}">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-change-password' %}">New-password</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="section-body">

            <div class="row">
              	<div class="col-12">
                	<div class="card">
		                <div class="card-header">
		                    <h4>My Skills</h4>
		                    <div class="card-header-action">
                              	<a href="{% url 'admin-skills-add' %}" class="btn btn-primary">
	                                <i class="fas fa-plus"></i>
	                                Add Skill
	                             </a>
	                        </div>
		                </div>
		                <div class="card-body">
		                    <div class="table-responsive">
				                <table class="table table-striped" id="table-2">
				                    <thead>
				                        <tr>
				                            <th class="text-center pt-3">
					                            <div class="custom-checkbox custom-checkbox-table custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
					                                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
					                            </div>
				                            </th>
				                            <th>Skill</th>
				                            <th>Sub-Skill</th>
				                            <th>Action</th>
				                            <th></th>
				                        </tr>
				                    </thead>
			                        <tbody>
			                        {% for skill in skills %}
					                    <tr>
				                            <td class="text-center pt-2">
					                            <div class="custom-checkbox custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
					                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
					                            </div>
				                            </td>
					                        <td>{{skill.name}}</td>
					                        <td class="align-middle">
			                              	{% for keyword in skill.keywords.all %}
			                              		<div class="badge badge-info badge-shadow">{{keyword.name}}</div>
			                              	{% endfor %}
					                        </td>

					                        <td>
					                        	<a href="{% url 'admin-skills-edit' skill.name|slugify skill.id %}" class="btn btn-warning">Edit</a>
					                        </td>
					                        <td>
					                        	<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteSkillModal{{skill.id}}">Delete</a>
					                        </td>
					                    </tr>
					                {% endfor %}
                        			</tbody>
                      			</table>
                    		</div>
                  		</div>
                	</div>
              	</div>
            </div>

            <div class="row">
              	<div class="col-12">
                	<div class="card">
		                <div class="card-header">
		                    <h4>Technical Skills Proficiency</h4>
		                </div>
		                <div class="card-body">
		                    <div class="table-responsive">
				                <table class="table table-striped" id="table-1">
				                    <thead>
				                        <tr>
				                            <th class="text-center pt-3">
					                            <div class="custom-checkbox custom-checkbox-table custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
					                                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
					                            </div>
				                            </th>
				                            <th>Skill</th>
				                            <th>Proficiency(%)</th>
				                            <th>Action</th>
				                            <th></th>
				                        </tr>
				                    </thead>
			                        <tbody>
			                        {% for tech in tech_skills %}
			                        	<form method="post" action="{% url 'admin-skills-technical-edit' %}">
			                        	<tr>
				                            <td class="text-center pt-2">
					                            <div class="custom-checkbox custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
					                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
					                            </div>
					                            {% csrf_token %}
					                            <input type="hidden" name="tech_skill_id" value="{{tech.id}}">
				                            </td>
				                            <td class="align-middle">
						                        <select class="form-control" name="skill_keyword">
						                        {% for skill in skills %}
				                              		{% for keyword in skill.keywords.all %}
				                              			{% if tech.skill_keyword.id == keyword.id %}
				                              		<option value="{{keyword.id}}" selected="">{{keyword.name}}</option>
				                              			{% else %}
				                              		<option value="{{keyword.id}}">{{keyword.name}}</option>
				                              			{% endif %}
				                              		{% endfor %}
				                              	{% endfor %}
				                              	</select>
					                        </td>
					                        <td>
					                        	<input type="number" name="percentage" class="form-control" value="{{tech.percentage}}">
					                        </td>
					                        <td>
					                        	<button type="submit" class="btn btn-primary">Update</button>
					                        </td>
					                        <td>
					                        	<a href="{% url 'admin-skills-technical-delete' tech.id %}" class="btn btn-danger">Delete</a>
					                        </td>
					                    </tr>
					                    </form>
					                {% endfor %}
					                	<form method="post" action="{% url 'admin-skills-technical-add' %}">
					                    <tr>
				                            <td class="text-center pt-2">
					                            <div class="custom-checkbox custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
					                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
					                            </div>
					                                {% csrf_token %}
				                            </td>
				                            <td class="align-middle">
						                        <select class="form-control" name="skill_keyword">
						                        {% for skill in skills %}
				                              		{% for keyword in skill.keywords.all %}
				                              		<option value="{{keyword.id}}">{{keyword.name}}</option>
				                              		{% endfor %}
				                              	{% endfor %}
				                              	</select>
					                        </td>
					                        <td> <input type="number" name="percentage" class="form-control"> </td>
					                        <td colspan="2">
					                        	<button type="submit" class="btn btn-primary">ADD</a>
					                        </td>
					                    </tr>
					                    </form>
                        			</tbody>
                      			</table>
                    		</div>
                  		</div>
                	</div>
              	</div>
            </div>

            <div class="row">
              	<div class="col-12">
                	<div class="card">
		                <div class="card-header">
		                    <h4>Professional Skills Proficiency</h4>
		                </div>
		                <div class="card-body">
		                    <div class="table-responsive">
				                <table class="table table-striped" id="table-3">
				                    <thead>
				                        <tr>
				                            <th class="text-center pt-3">
					                            <div class="custom-checkbox custom-checkbox-table custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
					                                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
					                            </div>
				                            </th>
				                            <th>Skill</th>
				                            <th>Proficiency(%)</th>
				                            <th>Action</th>
				                            <th></th>
				                        </tr>
				                    </thead>
			                        <tbody>
			                        {% for prof in prof_skills %}
			                        	<form method="post" action="{% url 'admin-skills-professional-edit' %}">
			                        	<tr>
				                            <td class="text-center pt-2">
					                            <div class="custom-checkbox custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
					                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
					                            </div>
					                            {% csrf_token %}
					                            <input type="hidden" name="prof_skill_id" value="{{prof.id}}">
				                            </td>
				                            <td class="align-middle">
						                        <input type="text" name="name" class="form-control" value="{{prof.name}}">
					                        </td>
					                        <td>
					                        	<input type="number" name="percentage" class="form-control" value="{{prof.percentage}}">
					                        </td>
					                        <td>
					                        	<button type="submit" class="btn btn-primary">Update</button>
					                        </td>
					                        <td>
					                        	<a href="{% url 'admin-skills-professional-delete' prof.id %}" class="btn btn-danger">Delete</a>
					                        </td>
					                    </tr>
					                    </form>
					                {% endfor %}
					                	<form method="post" action="{% url 'admin-skills-professional-add' %}">
					                    <tr>
				                            <td class="text-center pt-2">
					                            <div class="custom-checkbox custom-control">
					                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
					                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
					                            </div>
					                                {% csrf_token %}
				                            </td>
				                            <td class="align-middle">
						                        <input type="text" name="name" class="form-control">
					                        </td>
					                        <td> <input type="number" name="percentage" class="form-control"> </td>
					                        <td colspan="2">
					                        	<button type="submit" class="btn btn-primary">ADD</a>
					                        </td>
					                    </tr>
					                    </form>
                        			</tbody>
                      			</table>
                    		</div>
                  		</div>
                	</div>
              	</div>
            </div>


        </div>
    </section>
{% endblock %}

{% block modal %}
    {% for skill in skills %}
    <!--delete Work Modal {{skill.name}}-->
        <div class="modal fade" id="deleteSkillModal{{skill.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Delete {{skill.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ARE YOU SURE?
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <a href="{% url 'admin-skills-delete' skill.name|slugify skill.id %}" class="btn btn-danger deleteModal">Delete</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'admin/bundles/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'admin/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>

    <script type="text/javascript">
        $("#table-2").dataTable({
            "columnDefs": [
                { "sortable": false, "targets": [0, 1] }
            ],
            order: [[1, "asc"]] //column indexes is zero based
        });
    </script>

{% endblock %}
