{% extends "admin/base.html" %}

{% block title %} Admin - Work Update {% endblock %}

{% load static %}

{% block sidenav %}
    <li class="dropdown">
        <a href="{% url 'admin-home' %}" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-messages' %}" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-profile' %}" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-projects' %}" class="nav-link"><i data-feather="codepen"></i><span>Projects</span></a>
    </li>
    <li class="dropdown active">
        <a href="{% url 'admin-work' %}" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-education' %}" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-skills' %}" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-services' %}" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-prices' %}" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-blog' %}" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-settings' %}">App Settings</a></li>
            <li><a class="nav-link" href="{% url 'admin-profile-edit' %}">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-change-password' %}">New-password</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="section-body">

        <!-- Edit/Add Profile Form Body  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    {% if state == 'ADD_STATE' %}
                                    <form method="post" action="{% url 'admin-work-add' %}">
                                    {% elif state == 'EDIT_STATE' %}
                                    <form method="post" action="{% url 'admin-work-edit' work.position|slugify work.id %}">
                                    {% else %}
                                    <form method="post" action="{% url 'admin-work-add' %}">
                                    {% endif %}
                                        {% csrf_token %}
                                        <input type="hidden" name="profile" value="{{profile.id}}">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Company</label>
                                                <input type="text" class="form-control" name="company" value="{{work.company}}" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Position</label>
                                                <input type="text" class="form-control" name="position" value="{{work.position}}" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Location</label>
                                                <input type="text" class="form-control" name="location" value="{{work.location}}" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Website</label>
                                                <input type="text" class="form-control" name="website" value="{{work.website}}" required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Start Date</label>
                                                <input type="text" class="form-control" name="start_date" placeholder="YYYY-MM-DD" value="{{work.start_date|date:"Y-m-d"}}" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>End Date</label>
                                                 <input type="text" class="form-control" name="end_date" value="{{work.end_date|date:"Y-m-d"}}" required>
                                            </div>
                                        </div>
                                        {% for highlight in work.highlights.all %}
                                        <div class="edit-highlight-info">
                                            <div class="row form-row highlight-cont">
                                                <div class="col-10">
                                                    <div class="form-group">
                                                        <label>Highlight</label>
                                                        <input type="text" class="form-control" name="name-{{highlight.id}}" value="{{highlight.name}}" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2">
                                                    <label class="d-md-block d-sm-none d-none">&nbsp;</label>
                                                    <a href="{% url 'work-highlight-delete' highlight.name|slugify highlight.id %}" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="highlight-info">
                                            <div class="row form-row highlight-cont">
                                                <div class="col-10">
                                                    <div class="form-group">
                                                        <label>Highlight</label>
                                                        <input type="text" class="form-control" name="name_1" required>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-2">
                                                    <label class="d-md-block d-sm-none d-none">&nbsp;</label>
                                                    <a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="add-more">
                                            <a href="javascript:void(0);" class="add-highlight"><i class="fa fa-plus-circle"></i> Add More</a>
                                        </div>
                                        <input type="hidden" name="form_num" value="1">
                                        <p id="count" style="display: none;">1</p>

                                        <div class="form-row py-4">
                                            <button type="submit" class="btn btn-primary">Update Work</button>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <!-- /Add Letter Form Body  -->

        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function(){
            $(".add-highlight").click(function(event){
                var input_num = parseInt($("#count").text());
                input_num = input_num + 1;
                $("#count").text(''+input_num+'');
                $("input[name='form_num']").val(''+input_num+'');
                var content = '<div class="row form-row highlight-cont">' +
                    '<div class="col-10">' +
                        '<div class="form-group">' +
                            '<label>Highlight</label>' +
                            '<input type="text" class="form-control" name="name_'+input_num+'" required>' +
                        '</div>' +
                    '</div>' +
                    '<div class="col-12 col-md-2">' +
                        '<label class="d-md-block d-sm-none d-none">&nbsp;</label>' +
                       ' <a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>' +
                    '</div>' +
                '</div>';

                $(".highlight-info").append(content);
                return false;
            });

            $(".highlight-info").on('click','.trash', function () {
                $(this).closest('.highlight-cont').remove();
                return false;
            });
        });
    </script>

{% endblock %}
