{% extends "admin/base.html" %}

{% block title %} Admin - Work History {% endblock %}

{% load static %}

{% block css %}
    <!-- Custom style CSS
    <link rel="stylesheet" href="{% static 'main/css/page/index.css' %}">-->
{% endblock %}

{% block sidenav %}
    <li class="dropdown">
        <a href="{% url 'admin-home' %}" class="nav-link"><i data-feather="monitor"></i><span>Home</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-messages' %}" class="nav-link"><i data-feather="message-square"></i><span>Messages</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-profile' %}" class="nav-link"><i data-feather="user"></i><span>Profile</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-projects' %}" class="nav-link"><i data-feather="codepen"></i><span>Projects</span></a>
    </li>
    <li class="dropdown active">
        <a href="{% url 'admin-work' %}" class="nav-link"><i data-feather="clipboard"></i><span>Work</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-education' %}" class="nav-link"><i data-feather="book-open"></i><span>Education</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-skills' %}" class="nav-link"><i data-feather="sliders"></i><span>Skills</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-services' %}" class="nav-link"><i data-feather="briefcase"></i><span>Service</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-prices' %}" class="nav-link"><i data-feather="shopping-bag"></i><span>Pricing</span></a>
    </li>
    <li class="dropdown">
        <a href="{% url 'admin-blog' %}" class="nav-link"><i data-feather="file-text"></i><span>Blog</span></a>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Settings</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-settings' %}">App Settings</a></li>
            <li><a class="nav-link" href="{% url 'admin-profile-edit' %}">Profile Settings</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="unlock"></i><span>Authentication</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="{% url 'admin-change-password' %}">New-password</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="section-body">
            <h2 class="section-title">Work</h2>
            <div class="row">
                <div class="col-12">
                    <div class="activities">

                        <div class="activity">
                            <div class="activity-icon bg-primary text-white">
                                <i class="fas fa-plus"></i>
                            </div>
                            <div class="activity-detail">
                                <div class="mb-2">
                                <a href="{% url 'admin-work-add' %}"><i class="fa fa-plus-circle"></i> Add Work</a>
                                </div>
                            </div>
                        </div>
                    {% for work in work_history %}
                        <div class="activity">
                            <div class="activity-icon bg-primary text-white">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <div class="activity-detail">
                                <div class="mb-2">
                                    <span class="text-job">{{work.company}} </span>
                                    <span class="bullet"></span>
                                    <a class="text-job" href="{% url 'admin-work-edit' work.position|slugify work.id %}">Edit</a>
                                    <span class="bullet"></span>
                                    <a class="text-job text-danger" href="#" data-toggle="modal" data-target="#deleteWorkModal{{work.id}}">Delete</a>
                                </div>
                                <div class="profile-widget-description pb-0">
                                    <div class="profile-widget-name">{{work.position}} <div class="text-muted d-inline font-weight-normal"> <div class="slash"></div> {{work.start_date}} - {{work.end_date}}</div></div>
                                    <p>
                                        <i class="fas fa-globe px-2"></i>
                                        <a href="{{work.website}}">{{work.website}}</a>
                                        <br>
                                        <i class="fas fa-map-marker-alt px-2"></i>
                                        <a href="#">{{work.location}}</a>
                                    </p>
                                    <div>
                                        <ul>
                                        {% for highlight in work.highlights.all %}
                                            <li>{{highlight.name}}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block modal %}
    {% for work in work_history %}
    <!--delete Work Modal {{work.position}}-->
        <div class="modal fade" id="deleteWorkModal{{work.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Delete {{work.position}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    ARE YOU SURE?
                  </div>
                  <div class="modal-footer bg-whitesmoke br">
                    <a href="{% url 'admin-work-delete' work.position|slugify work.id %}" class="btn btn-danger deleteModal">Delete</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
