<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
	<!-- Frameworks CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/00b6dc780b.js" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main/bundles/apexcharts/apexcharts.css' %}">

	<title>{{profile.first_name}} {{profile.second_name}}</title>
</head>
<body data-bs-spy="scroll" data-bs-target="#scroll-navbar" data-bs-offset="5">
	<!-- Naviigation Section -->
	<nav id="scroll-navbar" class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #fff;">
		<div class="container">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarMain">
			    <ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-around">
			        <li class="nav-item">
			        	<a class="nav-link fs-5" aria-current="page" href="#profile-banner">Home</a>
			        </li>
			        <li class="nav-item">
			        	<a class="nav-link fs-5" href="#section-about">About</a>
			        </li>
			        <li class="nav-item">
			          	<a class="nav-link fs-5" href="#section-skills">Skills</a>
			        </li>
			        <li class="nav-item">
			          	<a class="nav-link fs-5" href="#section-experiences">Experiences</a>
			        </li>
			        <li class="nav-item">
			          	<a class="nav-link fs-5" href="#section-project">Project</a>
			        </li>
			        <li class="nav-item">
			        	<a class="nav-link fs-5" href="#section-pricing">Pricing</a>
			        </li>
			        <li class="nav-item">
			        	<a class="nav-link fs-5" href="#section-blog">Blog</a>
			        </li>
			        <li class="nav-item">
			        	<a class="nav-link fs-5" href="#section-contact">Contact</a>
			        </li>
			    </ul>
		    </div>
		</div>
	</nav>
	<!-- /Naviigation Section Ends  -->
	<div class="row pb-3 pt-3"> <div class="clearfix">

	</div></div>
	<!-- Content Section -->
	<main class="container main-index pt-4">

        <!-- Banner Section Start -->
        <div id="profile-banner" class="row align-items-center section-height">
        	<div class="col-md-6">

        		<div class="row">
        			<p><span id="intro-pill" class="fs-5 badge bg-primary">Hello, I'm </span></p>
        			<h1 class="display-3">{{profile.first_name}} {{profile.second_name}}</h1>
        			<h3>Web Developer</h3>
        		</div>
        		<div class="row pt-3">
        			<p>
						<i class="fas fa-at"></i>
						<a href="mailto:{{profile.email_1}}" class="ms-3 text-decoration-none text-dark" target="_blank" rel="noopener noreferrer">{{profile.email_1}}</a>
					</p>
					<p>
						<i class="fas fa-phone-alt"></i>
						<a href="telto:{{profile.phone_number_1}}" class="ms-3 text-decoration-none text-dark">{{profile.phone_number_1}}</a>
					</p>
					<p>
						<i class="fas fa-map-marker-alt"></i>
						<a href="#" class="ms-3 text-decoration-none text-dark">{{profile.address}}</a>
					</p>
        		</div>
        		<div class="row pt-3">
        			<div class="col-12">
        			{% for social in socials %}
        				<a href="{{social.url}}" class="btn btn-outline-dark"><i class="{{social.logo}}"></i></a>
        			{% endfor %}
        			</div>
        		</div>
        	</div>
        	<div class="col-md-6">
        		<div class="row text-center pb-4">
        			<div class="ratio ratio-1x1 rounded-circle w-75 banner-profile-div">
					<!--malonza.JPG  -->
					<img src="{{profile.image.url}}" class="ratio ratio-1x1 rounded-circle banner-profile-img" alt="...">
					</div>
        		</div>
        	</div>
        </div>
        <!-- /Banner Section Ends -->

        <!-- About-Me Section -->
        <div id="section-about" class="row align-items-center section-height">
        	<div class="col-md-6">
        		<img src="{% static 'main/images/canvas.png' %}" class="ratio ratio-1x1 w-75">
        	</div>
        	<div class="col-md-6">
        		<div class="row">
        			<h3>About Me</h3>
        			<p>{{profile.description}} I am good at</p>
        		</div>
        		<div class="row">
        			<div class="col-12">
        			{% for skill in skills %}
        				{% for keyword in skill.keywords %}
    					<a href="#" class="btn btn-outline-primary disabled my-1">{{keyword.name}}</a>
        				{% endfor %}
    				{% endfor %}
    				</div>
        		</div>
        		<div class="row pt-3">
        			<div class="col-12">
        				<a href="{{profile.cv_file.url}}" class="btn btn-primary">Download CV <i class="fas fa-file-download"></i></a>
        			</div>
        		</div>
        	</div>
        </div>
        <!-- /About-Me Section Ends -->

        <!-- Service Section -->
        <div id="section-skills" class="row align-items-center section-height">
        	<div class="col-12">
        		<div class="row text-center pb-2 pt-4">
        			<h2>What I DO</h2>
        		</div>
	        	<div class="row">
	        	{% for service in services %}
		        	<div class="col-md-4 pb-3">
		        		<div class="card shadow bg-body rounded">
		        			<div class="card-body">
		        			 	<div class="row py-3">
		        			 		<i class="{{service.logo}} fa-2x {% cycle 'text-success' 'text-primary' 'text-danger' %}"></i>
		        			 	</div>
							    <h3 class="card-title">{{service.name}}</h3>
							    <p class="card-text">{{service.description}}</p>
							</div>
		        		</div>
		        	</div>
		        {% endfor %}
	        	</div>
	        </div>
        </div>
        <!-- /Service Section Ends -->

        <!-- Skills Section -->
        <div class="row align-items-center section-height">
        	<div class="col-12">
        		<div class="row pt-4">
		        	<div class="col-md-6">
		        		<div class="row  text-center pb-2">
		        			<h3>Technical Skills</h3>
		        		</div>
		        		<div class="row">
		        		{% for tech in tech_skills %}
		        			<div class="col-12 pb-5">
		        				<div class="row justify-content-between">
		        					<div class="col">{{tech.skill_keyword.name}}</div>
		        					<div class="col text-end">{{tech.percentage}}%</div>
		        				</div>
		        				<div class="progress" style="height: 7px;">
								  	<div class="progress-bar" style="width: {{tech.percentage}}%" role="progressbar" aria-valuenow="{{tech.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
		        			</div>
		        		{% endfor %}
		        		</div>
		        	</div>
		        	<div class="col-md-6">
		        		<div class="row text-center pb-2">
		        			<h3>Professional Skills</h3>
		        		</div>
		        		<div class="row">
		        		{% for prof in prof_skills %}
		        			<div class="col-6">
		        				<div id="chart{{forloop.counter}}" class="align-self-center"></div>
		        			</div>
		        		{% endfor %}
		        		</div>
		        	</div>
		        </div>
        	</div>
        </div>
        <!-- /Skills Section Ends -->

        <!-- Experience Section -->
        <div id="section-experiences" class="row align-items-center section-height">
        	<div class="col-12">
        		<div class="row">
        			<div class="col-md-6 pt-4">
        				<div class="row text-center pb-2">
        					<h3>Education</h3>
        				</div>
        				<div class="row">
        				{% for education in education_history %}
        					<div class="col-12 pb-3">
        						<div class="card shadow bg-body rounded">
        							<div class="card-body">
        								<div class="card-title h5">{{education.study_area}}, {{education.study_type}} From <a href="javascript:void(0);" class="text-decoration-none text-primary"><em>{{education.institution}}</em></a></div>
        								<p class="text-primary">{{education.start_date}}-{{education.end_date}}</p>
        								<div class="card-text">{{education.description}}</div>
        							</div>
        						</div>
        					</div>
        				{% endfor %}
        				</div>
        			</div>
        			<div class="col-md-6 pt-4">
        				<div class="row text-center pb-2">
        					<h3>Work Experience</h3>
        				</div>
        				<div class="row">
        				{% for work in work_history %}
        					<div class="col-12 pb-3">
        						<div class="card shadow bg-body rounded">
        							<div class="card-body">
        								<div class="card-title h5">{{work.position}}<a href="{{work.website}}" class="text-decoration-none text-primary"> <em>{{work.company}}</em></a></div>
        								<p class="text-primary">{{work.start_date}}-{{work.end_date}}</p>
        								<div class="card-text">
        									<em class="small">Responsibility</em>
        									<ul class="small">
        									{% for highlight in work.highlights %}
											    <li>{{highlight.name}}</li>
											{% endfor %}
											</ul>
        								</div>
        							</div>
        						</div>
        					</div>
        				{% endfor %}
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <!-- /Experience Section Ends -->

        <!-- Project Section -->
        <div id="section-project" class="row align-items-center section-height">
        	<div class="col-12 pt-4">
        		<div class="row text-center pb-2">
	        		<h3>Recent Projects</h3>
	        	</div>

        		<div class="row">
        		{% for project in projects %}
        			<div class="col-md-6">
        				<div class="card shadow bg-body rounded mb-3" style="max-width: 540px;">
							<div class="row g-0">
								<div class="col-md-4 align-items-center">
									<img src="{{project.image.url}}" class="bd-placeholder-img border rounded" width="100%" height="160" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
								</div>
								<div class="col-md-8">
									<div class="card-body">
									    <h5 class="card-title">{{project.name}}</h5>
									    <p class="card-text text-success">
									    {% for keyword in project.highlight_keywords %}
                                            {{keyword.technology}},
                                        {% endfor %}
                                        </p>
									    <div class="row justify-content-between">
									    	<div class="col"><small class="text-muted">{{project.date}}</small></div>
									    	<div class="col text-end"><a href="{% url 'project' project.name|slugify project.id %}" class="btn btn-primary">Details</a></div>
									    </div>

									</div>
								</div>
							</div>
						</div>
        			</div>
        		{% endfor %}
        		</div>
        	</div>
        </div>
        <!-- /Project Section Ends -->

        <!-- Pricing Section -->
        <div id="section-pricing" class="row align-items-center section-height">
        	<div class="col-12 pt-4">
        		<div class="row text-center pb-2">
	        		<h3>Pricing</h3>
	        	</div>
        		<div class="row text-center">
        		{% for price in pricing %}
        			<div class="col-12 col-md-4 pb-3">
        				<div class="card shadow bg-body rounded">
        					<div class="card-body">
		        				<div class="row p-4">
		        					<i class="fas fa-file fa-2x text-primary"></i>
		        				</div>
		        				<div class="row pb-3">
		        					<h4>{{price.name}}</h4>
		        					<small>{{price.description}}</small>
		        				</div>
		        				<div class="row pb-3">
		        					<h4 class="display-6 text-primary">kSH {{price.price}}</h4>
		        				</div>
		        				<div class="row pb-3">
		        					<p>
		        					{% for keyword in price.keywords %}
								    	{{keyword.name}}<br>
								    {% endfor %}
									</p>
								</div>
								<div class="row pb-3">
									<div class="col-12">
										<a href="#"  data-bs-toggle="modal" data-bs-target="#hiremeModal{{forloop.counter}}" class="btn btn-primary">Hire Me</a>
									</div>
								</div>

        					</div>
        				</div>
        			</div>
        		{% endfor %}
        		</div>
        	</div>
        </div>
        <!-- /Pricing Section Ends -->

        <!-- Blog Section -->
        <div id="section-blog" class="row align-items-center section-height">
        	<div class="col-12 pt-4">
        		<div class="row text-center pb-2">
	        		<h3>Featured Posts</h3>
	        	</div>
        		<div class="row">
        		{% for article in articles %}
			        <div class="col-12 col-md-4 pb-3">
			            <div class="card shadow bg-body rounded" style="">
						  	<img src="{{article.image.url}}" class="card-img-top" width="100%" height="200" preserveAspectRatio="xMidYMid slice" alt="...">
							<div class="card-body">
							    <h4 class="card-title"><a href="{% url 'article' article.title|slugify article.id %}" class="text-decoration-none text-muted">{{article.title}}</a></h4>
							    <p class="small">
							    	<strong>Posted on </strong>
							    	<a href="#" class="text-decoration-none">{{article.date_created.date}}</a>
							    	<strong>By</strong>
							    	<a href="#" class="text-decoration-none"> {{article.user.first_name}} {{article.user.last_name}}</a>
							    </p>
							    <p class="card-text">{{article.content_text|truncatechars_html:100|safe }}</p>
							    <a href="{% url 'article' article.title|slugify article.id %}" class="text-decoration-none">Read More...</a>
							</div>
						</div>
			        </div>
			    {% endfor %}
        		</div>
        	</div>
        </div>
        <!-- /Blog Section Ends -->

        <!-- Client-Review Section
        <div class="row align-items-center section-height">
        	<div class="col-12">
        		<div class="row text-center pb-4">
	        		<h3>Client Review</h3>
	        	</div>
        		<div class="row text-center">
			        <div class="col-12 col-md-4">
			            <div class="card shadow bg-body rounded" style="">
			            	<div class="row justify-content-center p-4">
			            		<div class="col-5">
			            			<img src="{% static 'main/images/malonza.JPG' %}" class="ratio ratio-1x1 rounded-circle border border-info border-5" alt="...">
			            		</div>
			            	</div>
			            	<div class="row px-4">
			            		<figure class="text-center">
									<blockquote class="blockquote">
										<p>"A well-known quote, contained in a blockquote element. I think its good."</p>
									</blockquote>
									<figcaption class="blockquote-footer">
									Someone famous in <cite title="Source Title">Source Title</cite>
									</figcaption>
								</figure>
			            	</div>
			            </div>
			        </div>
			        <div class="col-12 col-md-4">
			            <div class="card shadow bg-body rounded" style="">
			            	<div class="row justify-content-center p-4">
			            		<div class="col-5">
			            			<img src="{% static 'main/images/malonza.JPG' %}" class="ratio ratio-1x1 rounded-circle border border-info border-5" alt="...">
			            		</div>
			            	</div>
			            	<div class="row px-4">
			            		<figure class="text-center">
									<blockquote class="blockquote">
										<p>"A well-known quote, contained in a blockquote element. I think its good."</p>
									</blockquote>
									<figcaption class="blockquote-footer">
									Someone famous in <cite title="Source Title">Source Title</cite>
									</figcaption>
								</figure>
			            	</div>
			            </div>
			        </div>
			        <div class="col-12 col-md-4">
			            <div class="card shadow bg-body rounded" style="">
			            	<div class="row justify-content-center p-4">
			            		<div class="col-5">
			            			<img src="{% static 'main/images/malonza.JPG' %}" class="ratio ratio-1x1 rounded-circle border border-info border-5" alt="...">
			            		</div>
			            	</div>
			            	<div class="row px-4">
			            		<figure class="text-center">
									<blockquote class="blockquote">
										<p>"A well-known quote, contained in a blockquote element. I think its good."</p>
									</blockquote>
									<figcaption class="blockquote-footer">
									Someone famous in <cite title="Source Title">Source Title</cite>
									</figcaption>
								</figure>
			            	</div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
		/Client-Review Section End -->

		<!-- Contact-Me Section -->
        <div id="section-contact" class="row align-items-center section-height">
        	<div class="col-12 pt-4">
        		<div class="row text-center pb-2">
	        		<h3>Contact Me</h3>
	        	</div>
        		<div class="row">
        			<div class="col-md-6">
        				<div class="row pb-3">
	        				<div class="card shadow bg-body rounded">
	        					<div class="card-body">
			        				<div class="row">
			        					<div class="col-3 col-md-4 text-center">
			        						<div class="row align-items-center pt-4">
			        							<div class="">
			        								<i class="fas fa-paper-plane fa-3x"></i>
			        							</div>
			        						</div>
			        					</div>
			        					<div class="col-9 col-md-8">
			        						<div class="row"><h5>Address</h5></div>
			        						<div class="row"><p>{{profile.address}}<br><a href="map view"></a> </p></div>

			        					</div>
			        				</div>
			        			</div>
	        				</div>
        				</div>

        				<div class="row pb-3">
	        				<div class="card shadow bg-body rounded">
	        					<div class="card-body">
			        				<div class="row">
			        					<div class="col-3 col-md-4 text-center">
			        						<div class="row align-items-center pt-4">
			        							<div class="">
			        								<i class="fas fa-envelope fa-3x"></i>
			        							</div>
			        						</div>
			        					</div>
			        					<div class="col-9 col-md-8">
			        						<div class="row"><h5>Email</h5></div>
			        						<div class="row"><p>{{profile.email_1}}<br>{{profile.email_2}}</p></div>

			        					</div>
			        				</div>
			        			</div>
	        				</div>
        				</div>

        				<div class="row pb-3">
	        				<div class="card shadow bg-body rounded">
	        					<div class="card-body">
			        				<div class="row">
			        					<div class="col-3 col-md-4 text-center">
			        						<div class="row align-items-center pt-4">
			        							<div class="">
			        								<i class="fas fa-phone-alt fa-3x"></i>
			        							</div>
			        						</div>
			        					</div>
			        					<div class="col-9 col-md-8">
			        						<div class="row"><h5>Phone</h5></div>
			        						<div class="row"><p>{{profile.phone_number_1}}<br>{{profile.phone_number_2}}</p></div>

			        					</div>
			        				</div>
			        			</div>
	        				</div>
        				</div>


        			</div>

        			<div class="col-md-6">
        				<div class="row">
        					<form class="submit-form" method="post" action="{% url 'contact-me' %}">
	                            {% csrf_token %}
	        					<div class="mb-3">
								 	<input type="text" class="form-control form-control-lg" name="first_name" placeholder="First Name">
								</div>
								<div class="mb-3">
								 	<input type="text" class="form-control form-control-lg" name="last_name" placeholder="Last Name">
								</div>
	        					<div class="mb-3">
								 	<input type="email" class="form-control form-control-lg" name="email" placeholder="Your Email">
								</div>

								<div class="mb-3">
								  	<textarea class="form-control" name="message" rows="5" placeholder="Message Here"></textarea>
								</div>
								<div class="col-12 d-grid gap-2">
									<button type="submit" class="btn btn-primary">SEND MESSAGE</button>
								</div>
							</form>
        				</div>

        			</div>

        		</div>
        	</div>
        </div>
        <!-- /Contact-Me Section Ends -->

    </main>
    <!-- /Content Section Ends  -->


    <!-- Footer Section-->

    <div class="container">
		<footer class="py-3 my-4">
		    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
		      	<li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-muted">Home</a></li>
		      	<li class="nav-item"><a href="#section-about" class="nav-link px-2 text-muted">About</a></li>
		      	<li class="nav-item"><a href="#section-skills" class="nav-link px-2 text-muted">Skills</a></li>
    			<li class="nav-item"><a href="#section-experiences" class="nav-link px-2 text-muted">Experiences</a></li>
		      	<li class="nav-item"><a href="{% url 'projects' %}" class="nav-link px-2 text-muted">Project</a></li>
		      	<li class="nav-item"><a href="#section-pricing" class="nav-link px-2 text-muted">Pricing</a></li>
		      	<li class="nav-item"><a href="{% url 'blog' %}" class="nav-link px-2 text-muted">Blog</a></li>
		     	<li class="nav-item"><a href="#section-contact" class="nav-link px-2 text-muted">Contact</a></li>
		    </ul>
		    <p class="text-center text-muted">&copy; 2022 Elkanah-Malonza, Inc</p>
		</footer>
	</div>
    <!-- /Footer Section Ends-->


    <!-- Modal Section start --->
	{% for price in pricing %}
	    <!-- Modal -->
		<div class="modal fade" id="hiremeModal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  	<div class="modal-dialog">
			    <div class="modal-content">
			    	<form class="submit-form" action="{% url 'contact-me' %}" method="POST">
				    <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">{{price.name}}</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				    </div>
			      	<div class="modal-body">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-12 pt-4">
                                    <label for="id_due-date">First Name</label>
                                    <input type="text" class="form-control" name="first_name" required="">
                                </div>
                                <div class="form-group col-md-12 pt-4">
                                    <label for="id_due-date">Email</label>
                                    <input type="email" class="form-control" name="email" required="">
                                </div>
                                <input type="hidden" name="last_name" value=" ">
                                <input type="hidden" name="message" value="{{price.name}}">
                            </div>

			      	</div>
			      	<div class="modal-footer">
			        	<a href="javascript:void(0);" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
			        	<button type="submit" class="btn btn-primary">Submit</button>
			      	</div>
			      	</form>
			    </div>
		  	</div>
		</div>

	{% endfor %}
    <!-- /Modal Section Ends-->

    <!-- JS Libraies -->
    <script src="{% static 'main/js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'main/js/ajax.js' %}"></script>
    <script src="{% static 'main/bundles/apexcharts/apexcharts.js' %}"></script>
    <script type="text/javascript">
    	/*$(function () {
            chart1();
            chart2();
            chart3();
            chart4();
        });*/
    {% for prof in prof_skills %}
        $(function () {
        	var options = {
			  	chart: {
				    height: 180,
				    type: "radialBar",
			  	},

			  	series: [{{prof.percentage}}],
			  	colors: ["#20E647"],
			  	plotOptions: {
			    	radialBar: {
			      		hollow: {
					        margin: 0,
					        size: "70%",
					        background: "#293450"
				      	},
					    track: {
					        dropShadow: {
						        enabled: true,
						        top: 2,
						        left: 0,
						        blur: 4,
						        opacity: 0.15
						    }
				      	},
					    dataLabels: {
					        name: {
					          offsetY: -10,
					          color: "#fff",
					          fontSize: "13px"
					        },
					        value: {
					          color: "#fff",
					          fontSize: "25px",
					          show: true
					        }
					    }
			    	}
			  	},
				fill: {
				    type: "gradient",
				    gradient: {
				      shade: "dark",
				      type: "vertical",
				      gradientToColors: ["#87D4F9"],
				      stops: [0, 100]
				    }
				},
				stroke: {
				    lineCap: "round"
				},
				labels: ["{{prof.name}}"]
			};

			var chart = new ApexCharts(document.querySelector("#chart{{forloop.counter}}"), options);
			chart.render();
        });
    {% endfor %}

        $(document).ready(function(){
        	$(this).scroll(function(){
        		$("#scroll-navbar").addClass('border-bottom');
        		clearTimeout($.data(this, 'scrollTimer'));
				$.data(this, 'scrollTimer', setTimeout(function() {
				      $("#scroll-navbar").removeClass('border-bottom');
				      console.log("Haven't scrolled in 250ms!");
				}, 500));
        	});
        });

    </script>
</body>
</html>
